.forgot-password-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .forgot-password-forgot-password {
    width: 100%;
    height: 1024px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(37, 65, 76, 1);
  }
  .forgot-password-rectangle5 {
    top: 216px;
    left: 223px;
    width: 997px;
    height: 591px;
    position: absolute;
    border-radius: 71px;
  }
  .forgot-password-rectangle6 {
    top: 335px;
    left: 221px;
    width: 999px;
    height: 472px;
    position: absolute;
    border-radius: 65px;
  }
  .forgot-password-field {
    gap: 8px;
    top: 407px;
    left: 574px;
    width: 295px;
    display: flex;
    padding: 12px 16px;
    position: absolute;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
    align-items: flex-start;
    border-color: rgba(215, 167, 95, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
  }
  .forgot-password-field1 {
    gap: 8px;
    top: 546px;
    left: 573px;
    width: 295px;
    display: flex;
    padding: 12px 16px;
    position: absolute;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
    align-items: flex-start;
    border-color: rgba(215, 167, 95, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    background-color: rgb(152, 121, 121);
  }
  .forgot-password-text {
    top: 165px;
    left: 580px;
    color: rgba(251, 118, 13, 1);
    height: auto;
    position: absolute;
    font-size: 50px;
    font-style: Bold;
    text-align: left;
    font-family: Josefin Sans;
    font-weight: 700;
    line-height: 150%;
    font-stretch: normal;
    text-decoration: none;
  }
  .forgot-password-frame00-button {
    gap: 8px;
    top: 590px;
    left: 625px;
    width: 296px;
    height: 48px;
    display: flex;
    padding: 14px 25px;
    position: absolute;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(37, 65, 76, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    justify-content: center;
    background-color: rgba(254, 235, 220, 1);
  }
  .forgot-password-text2 {
    color: rgba(251, 118, 13, 1);
    height: auto;
    font-size: 16px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 150%;
    font-stretch: normal;
    text-decoration: none;
  }
  .forgot-password-frame02-input-fieldwith-label {
    gap: 8px;
    top: 395px;
    left: 625px;
    padding-left: 5px;
    width: 296px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    position: absolute;
    font-size: 17px;
    text-align: left;
    align-items: flex-start;
    font-family: Josefin Sans;
    font-weight: 500;
    flex-direction: column;
  }
  .forgot-password-frame02-input-fieldwith-label2 {
    gap: 8px;
    top: 308px;
    left: 625px;
    padding-left: 6px;
    width: 296px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    position: absolute;
    font-size: 17px;
    text-align: left;
    padding-top: 5px;
    color: rgb(151, 110, 39);
    align-items: flex-start;
    font-family: Josefin Sans;
    font-weight: 500;
    flex-direction: column;
    background-color: white;
  }
  .forgot-password-frame02-input-fieldwith-label1 {
    gap: 8px;
    top: 500px;
    left: 625px;
    padding-left: 5px;
    width: 296px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    position: absolute;
    font-size: 17px;
    text-align: left;
    align-items: flex-start;
    font-family: Josefin Sans;
    font-weight: 500;
    flex-direction: column;
  }
  

  .forgot-password-frame02-input-fieldwith-label:focus{
    border-color: rgb(166, 155, 0); 
    color: rgb(225, 148, 148); 
    outline: none;
  }
  .forgot-password-frame02-input-fieldwith-label1:focus{
    border-color: rgb(166, 50, 0); 
    color: rgb(170, 131, 131); 
    outline: none;
  }
  .new-password{
    font-size: 25px;
    margin-left: -175px;
    font-weight: 500;
    margin-top: 360px;
    font-family: Josefin Sans;
    color: white;
    z-index: 10;
  }
  .user-or-email{
    font-size: 25px;
    margin-left: 675px;
    margin-top: 270px;
    font-family: Josefin Sans;
    color: white;
    z-index: 10;
  }
  .confirm-new-password{
    font-size: 25px;
    margin-left: -187px;
    font-weight: 500;
    margin-top: 465px;
    font-family: Josefin Sans;
    color: white;
    z-index: 10;
  }

  .check-password{
    top: 430px;
    left: 625px;
  z-index: 10;
  display: flex;
  position: absolute;
  color: rgb(2, 42, 116);
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Josefin Sans;
  }

  .check-password-correct{
    top: 535px;
    left: 625px;
  z-index: 10;
  display: flex;
  position: absolute;
  color: rgb(2, 42, 116);
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Josefin Sans;
  }

  .useroremail{
    font-size: 25px;
    margin-left: 695px;
    font-weight: 500;
    margin-top: 200px;
    font-family: Josefin Sans;
    color: rgb(226, 5, 5);
    z-index: 10;
  }

  .visibility_new{
    margin-left: 890px;
    margin-top: 400px;
    z-index: 10;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }

  .visibility_confirm{
    margin-left: 890px;
    margin-top: 505px;
    z-index: 10;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;

  }

.success-toast{
  margin-top: 1%;
  margin-left: 1.5%;
  width: 3%;
  height: 3%;
  background-color: rgb(13, 221, 103);
}

.failed-toast{
  margin-top: 1%;
  margin-left: 1.5%;
  width: 3%;
  height: 3%;
  background-color: rgb(255, 67, 63);
}

.warning-toast{
  margin-top: 1%;
  margin-left: 1.5%;
  width: 3%;
  height: 3%;
  background-color: rgb(255, 230, 0);
  
}
.toast-text{
  font-size: 20px;
  margin-left: 6%;
  margin-top: -2.5%;
  margin-bottom: -1%;
  font-family: Josefin Sans;
}
.toast-bg{
  width: 100%;
  background-color: #fdfaf3;
}

.toast-close{
  margin-top: 1%;
  color: white;
  margin-left: 95%;
}